body {
    font-family: Arial, Helvetica, sans-serif;
}

.txtarea {
    display: flex;
    width: 50%;
    height: 200px;
    margin: 0 auto;
    font-size: 20px;
}

.keyboard__keys {
    text-align: center;

}
.keyboard__key {
    height: 45px;
    width: 45px;
    margin: 2px;
    border-radius: 4px;
    border: none;
    background: rgba(8, 8, 8, 0.4);
    color: #fff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    position: relative;
}
.keyboard__key:hover {
    background: rgba(8, 8, 8, 0.3);
}
.keyboard__key:active {
    background: #05ca68;
    transform: scale(0.97);
}    
.keyboard__key--wider {
    width: 120px;
}
.keyboard__key--wide {
    width: 70px;
}
.keyboard__key--extra-wide {
    width: 38%;
    max-width: 500px;
}
.keyboard__key--activaibale::after {
    content: '';
    top: 5px;
    right: 5px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}
.keyboard__key--active::after{
    background: #05ca68;
} 